@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-gradient-radial {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(#0e5d0d 1px, transparent 1px), radial-gradient(#07122c 1px, transparent 20px);
      background-size: 5px 5px;
    }
  }
  